/* Importación de Tipografias desde GoogleFonts -> COMBINACIÓN: Raleway + Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222831;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    width: 50vw;
    padding: 2vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
    color: #FFD369;
}

#description {
    margin-top: 2%;
    text-align: center;
}


label,
h2,
button {
    font-family: 'Raleway', sans-serif;
    font-size: 3vh;
    color: #EEEEEE;
}

input,
p,
select,
textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
}

.flex-container {
    border-radius: 1%;
    width: 50vw;
    height: 200vh;
    margin-top: 3vh;

    background-color: #393E46;
    box-shadow: -1px -1px 20px 5px #FFD369;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.flex-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0 1 auto;
}

select,
textarea {
    margin-top: 1vh;
    width: 90%;
    border-color: #EEEEEE;
    border-style: solid;
    border-radius: 1%;
}

.genero {
    margin-bottom: 2vh;
}

.yellow-font {
    color: #FFD369;
    text-align: center;
}

p {
    color: #EEEEEE;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: 1vh;
}

[type="text"],
[type="number"],
[type="email"] {
    width: 90%;
    margin-top: 1vh;
}

/* ESTILOS SUBMIT BUTTON */
button {
    width: 90%;
    height: 40px;
    background-color: #FFD369;
    color: #EEEEEE;
}